<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to 'Add', new_admin_article_path, class: 'btn btn-primary btn-sm' %></th>
    </tr>
  </thead>
</table>

<% @articles.each do |article| %>
  <%= render :partial => 'article', locals: { :object => article} %>
<% end %>
