<div class="container-fluid">
  <div class="row">
    <% @published_articles.each do |article| %>
      <%= render partial: '/articles/article_preview', locals: { article: article } %>
    <% end %>
  </div>
</div>
