<br>
<div class="row">
  <% @published_articles.each do |article| %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" style="">
        <img class="card-img-top img-fluid" src="http://placehold.it/300x200" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%= article.title %></h4>
          <a href="#" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
        </div>
      </div>
    </div>

  <% end %>
</div>
