<div class="top-margin"></div>
<div class="container-fluid">
  <div class="card-columns">
    <% @published_articles.each do |article| %>
      <%= render partial: '/articles/article_preview', locals: { article: article } %>
    <% end %>
  </div>
</div>
