<div class="cover-image">
  <%= image_tag @article.cover_image.url(:big), class: 'parallax-background' %>
</div>
<div class="cover-image-placeholder">
  <div class="container">
    <div class="article-title">
      <h1><span><%= @article.title %></span></h1>
    </div>
    <div class="article-description col-xs-12 col-lg-9">
      <p><span><%= @article.description %></span></p>
    </div>
  </div>
</div>
<div class="article-container">
  <div class="container">
    <div class="col-sm-12 col-md-9 article-show box-shadow">
      <% @article.sections.each do |section| %>
        <%= render partial: 'section', locals: { section: section } %>
      <% end %>
    </div>
  </div>
</div>
