<footer>
  <div class="">
    <p>© 2016 Angelica blog. All rights reserved.</p>
  </div>
</footer>
<div class="footer-author">
  <small>Copyright © <%= Time.now.year %> Smirnov Konstantin - <a href="http://smiplay.com" target="_blank">smiplay.com</a></small>
</div>
