<footer>
  <div class="container-fluid">
    <p>© <%= Time.now.year %> Personal Blog. All rights reserved.</p>
    <p><small>Developed by Smirnov Konstantin - <a href="http://smiplay.com" target="_blank">smiplay.com</a></small></p>
  </div>
</footer>
