<div class="page-min-height">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h1>404 page</h1>
        <p>Unfortunately the page you was looking for does not exist.</p>
      </div>
      <div class="col-sm-6">
        <%= image_tag '/images/cat.png', class: 'img-fluid' %>
      </div>
    </div>
  </div>
</div>
