@import "https://fonts.googleapis.com/css?family=Sacramento";

$dark: #262626;
$light: #FFF;
$light-opacity: rgba(255, 255, 255, 0.9);
$green: #80BA12;
$backgroundGray: #F7F7F7;
$footerGray: #E5E5E5;


body {
  background-color: $backgroundGray;
}
body > div.container {
  padding-left: 0px;
  padding-right: 0px;
}

/* UTILITIES */
.box-shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.page-min-height {
  min-height: 500px;
  min-height: calc(100vh - 160px);
}

/* BUTTONS */

.btn, .nav-pills .nav-item a {
  border-radius: 0;
}

/* NAVBAR */

.navbar-custom {
  background-color: $light;
  border-bottom: solid 1px $backgroundGray;
}
.navbar-custom a.nav-link.active {
  color: $green !important;
}
.navbar-placeholder {
  height: 65px;
}
.navbar-brand {
  line-height: 20px;
  font-size: 2.25rem;
  font-family: 'Sacramento', cursive;
  color: $green !important;
}

/* FOOTER */

footer {
  color: $footerGray;
  background-color: $dark;
  padding: 10px;
  display: block;
  position: relative;
  z-index: 100;
}

/* LOGIN PAGE */
.login-form {
  padding-top: 120px;
  padding-top: calc(100vh / 5);
}

/* ARTICLE */
.article-preview, .article-show {
  width: 100%;
  background-color: $light;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  img {
    margin-bottom: 20px;
  }
}
.article-container {
  display: block;
  background-color: $backgroundGray;
  position: relative;
  z-index: 100;
  padding-top:1px;
  padding-bottom: 1px;
}
.cover-image {
  height: 450px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  img {
    position: fixed;
    top: -30%;
    width: 100%;
    @media (max-width: 1200px) {
      top: 0;
    }
  }
}
.cover-image-placeholder {
  display: block;
  height: 450px;
  z-index: 100;
  position: relative;
  .article-title {
    padding-top: 200px;
    h1 span {
      background-color: $light-opacity;
    }
  }
  .article-description {
    padding-top: 15px;
    p span {
      background-color: $light-opacity;
    }
  }
}
