$dark: #262626;
$light: #FFF;
$green: #80BA12;
$backgroundGray: #E5E5E5;
$footerGray: #E5E5E5;


body {
  background-color: $backgroundGray;
}
body > div.container {
  padding-left: 0px;
  padding-right: 0px;
}

/* NAVBAR */

nav.navbar {
  background-color: $light;
  border-bottom: solid 1px $backgroundGray;
}
a.nav-link.active {
  color: $green !important;
}

/* FOOTER */

footer {
  color: $footerGray;
  background-color: $dark;
  padding: 10px;
}
.footer-author {
  padding: 10px;
}

/* ARTICLE */
.article-preview, .article-show {
  width: 100%;
  background-color: $light;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  img {
    margin-bottom: 20px;
  }
}
.cover-image {
  height: 300px;
  overflow: hidden;
}
