$dark: #262626;
$light: #FFF;
$green: #80BA12;
$backgroundGray: #E5E5E5;
$footerGray: #858585;


body {
  background-color: $backgroundGray;
}
body > div.container {
  padding-left: 0px;
  padding-right: 0px;
}

.webpage-wrapper {
  background-color: $light;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* NAVBAR */

nav.navbar {
  background-color: $light;
  border-bottom: solid 1px $backgroundGray;
}
a.nav-link.active {
  color: $green !important;
}

/* FOOTER */

footer {
  color: $footerGray;
  background-color: $dark;
  padding: 10px;
}
.footer-author {
  padding: 10px;
}
