<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <%= link_to "Dashboard", admin_dashboard_path, class: "nav-link #{ 'active' if controller?('admin/dashboard') }" %>
  </li>
  <li class="nav-item">
    <%= link_to "My articles", admin_articles_path, class: "nav-link #{ 'active' if controller?('admin/articles') }" %>
  </li>
  <li class="nav-item">
    <%= link_to "Profile", admin_profile_path, class: "nav-link #{ 'active' if controller?('admin/profiles') }" %>
  </li>
  <li class="nav-item">
    <%= link_to "Categories", admin_categories_path, class: "nav-link #{ 'active' if controller?('admin/categories') }" %>
  </li>
</ul>
